<!-- <div *ngIf="auth.user | async; then authenticated else guest">

</div>

User not logged in
<ng-template #guest>
  <h3>Howdy, Guest</h3>
  <p>Login to get started...</p>

  <button (click)="auth.googleLogin()">
    <i class="fa fa-google"></i>Connect With Google
  </button>
</ng-template>

User logged in
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h3>Howdy {{user.username}}</h3>
    <img [src]="user.photoUrl" />
    <p>UID: {{user.uid}}</p>
  </div>
</ng-template> -->

<!--Start register-->
<div class="container-fluid">
  <div id="display" class="row">
    <span class="col-md-3 col-sm-1 col-xs-12">

    </span>
    <div id="login-panel" class="col-md-6 col-sm-10 col-xs-12">
      <div id="header">
        <h2>Welcome to:</h2>
        <h1>Y2-Chat</h1>
      </div>

      <!--Email-->
      <div *ngIf="step === 1" class="col-md-12 row line-spacing no-margin-sides">
        <div class="display-flex col-md-3 col-sm-3 col-xs-12 no-padding">
          <label class="middel-text">Email:</label>
        </div>
        <input class="form-control col-md-9 col-sm-9 col-xs-12" type="email" [(ngModel)]="email" />
      </div>

      <!--Password-->
      <div *ngIf="step === 1" class="col-md-12 row line-spacing no-margin-sides">
        <div class="display-flex col-md-3 col-sm-3 col-xs-12 no-padding">
          <label class="middel-text">Password:</label>
        </div>
        <input class="form-control col-md-9 col-sm-9 col-xs-12" type="password" [(ngModel)]="password" />
      </div>

      <!--Confirm password-->
      <div *ngIf="step === 1" class="col-md-12 row line-spacing no-margin-sides">
        <div class="display-flex col-md-3 col-sm-3 col-xs-12 no-padding">
          <label class="middel-text">Confirm Password:</label>
        </div>
        <input class="form-control col-md-9 col-sm-9 col-xs-12" type="password" [(ngModel)]="confirmPassword" />
      </div>

      <!--Username-->
      <div *ngIf="step === 2" class="col-md-12 row line-spacing no-margin-sides">
        <div class="display-flex col-md-12 col-sm-12 col-xs-12 no-padding line-spacing">
          <label class="middel-text">Before we continue, what will we be calling you?</label>
        </div>
        <div class="display-flex col-md-3 col-sm-3 col-xs-12 no-padding">
          <label class="middel-text">Username:</label>
        </div>
        <input class="form-control col-md-9 col-sm-9 col-xs-12" type="text" [(ngModel)]="username" />
      </div>

      <div class="col-md-12 text-center">
        <button (click)="register()">Register</button>
        <button (click)="auth.googleLogin()">
          <i class="fa fa-google"></i>Register With Google
        </button>
      </div>


    </div>

    <span class="col-md-3 col-sm-1 col-xs-12">

    </span>
  </div>
</div>
