<!--Start register-->
<div class="container-fluid">
  <div id="display" class="row">
    <span class="col-md-3 col-sm-1 col-xs-12">

    </span>
    <div id="login-panel" class="col-md-6 col-sm-10 col-xs-12">
      <div id="header">
        <h2>Welcome to:</h2>
        <h1>Y2-Chat</h1>
      </div>

      <div class="col-md-12 line-spacing">
        <a id="link" (click)="login()">Already a user?</a>
      </div>

      <!--Email-->
      <div *ngIf="step === 1" class="col-md-12 row line-spacing no-margin-sides">
        <div class="display-flex col-md-3 col-sm-3 col-xs-12 no-padding">
          <label class="middel-text">Email:</label>
        </div>
        <input class="form-control col-md-9 col-sm-9 col-xs-12" type="email" [(ngModel)]="email" />
      </div>

      <!--Password-->
      <div [ngClass]="!invalidPasswordLength ? 'line-spacing' : '' " *ngIf="step === 1" class="col-md-12 row no-margin-sides">
        <div class="display-flex col-md-3 col-sm-3 col-xs-12 no-padding">
          <label class="middel-text">Password:</label>
        </div>
        <input [ngClass]="invalidPasswordLength ? 'invalid' : ''" class="form-control col-md-9 col-sm-9 col-xs-12" type="password"
          [(ngModel)]="password" (blur)="checkPasswordLengthOnBlur()" />
      </div>

      <!-- (input)="checkPasswordLengthOnInput()" -->

      <div *ngIf="step === 1 && invalidPasswordLength" class="col-md-12 row line-spacing no-margin-sides error">
        <span class="col-md-3 col-sm-3 col-xs-12"></span>
        <div class="col-md-9 col-sm-9 col-xs-12 no-padding">
          <label class="middel-text">*Passwords must be at least 6 characters long.</label>
        </div>
      </div>

      <!--Confirm password-->
      <div [ngClass]="!invalidConfirmPassword ? 'line-spacing' : '' " *ngIf="step === 1" class="col-md-12 row no-margin-sides">
        <div class="display-flex col-md-3 col-sm-3 col-xs-12 no-padding">
          <label class="middel-text">Confirm Password:</label>
        </div>
        <input [ngClass]="invalidConfirmPassword ? 'invalid' : ''" class="form-control col-md-9 col-sm-9 col-xs-12" type="password"
          [(ngModel)]="confirmPassword" (blur)="checkPasswordOnBlur()" />
      </div>

      <!-- (input)="checkPasswordOnInput()" -->

      <div *ngIf="step === 1 && invalidConfirmPassword" class="col-md-12 row line-spacing no-margin-sides error">
        <span class="col-md-3 col-sm-3 col-xs-12"></span>
        <div class="col-md-9 col-sm-9 col-xs-12 no-padding">
          <label class="middel-text">*Passwords do not match.</label>
        </div>
      </div>

      <!--Username-->
      <div *ngIf="step === 2" class="col-md-12 row line-spacing no-margin-sides">
        <div class="display-flex col-md-12 col-sm-12 col-xs-12 no-padding line-spacing">
          <label class="middel-text">Before we continue, what will we be calling you?</label>
        </div>
        <div class="display-flex col-md-3 col-sm-3 col-xs-12 no-padding">
          <label class="middel-text">Username:</label>
        </div>
        <input class="form-control col-md-9 col-sm-9 col-xs-12" type="text" [(ngModel)]="username" />
      </div>

      <div class="col-md-12 text-center">
        <button (click)="register()">Register</button>
        <button (click)="auth.googleLogin()">
          <i class="fa fa-google"></i>Register With Google
        </button>
      </div>


    </div>

    <span class="col-md-3 col-sm-1 col-xs-12">

    </span>
  </div>
</div>
