.y2c-global-card {
    border-bottom-color: #fff;
    border-bottom-width: 2px;
    background-color: #231651;
    padding: 0px;
    color: white;
    height: 80px;
    display: flex
}

.profile-pic {
    display: flex;
}

.y2c-global-card:hover {
    background-color: #301f6e;
    cursor: pointer;
}

.pic {
    margin-top: auto;
    margin-bottom: auto;
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user-text {
    padding: 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.username {
    font-size: 16px;
    font-weight: 900;
}

.status {
    font-size: 14px;
    font-weight: 300;
}