<div class="container-fluid p-0 " id="temp">

    <div class="chat-area">
        <div class="notification">1 new message</div>
        <div class="message-span">
            <app-message-card></app-message-card>
        </div>
    </div>

    <div class="text-bar">
        <div class="text-center"><span class="icon smile"></span></div>
        <div class="message-area">
            <textarea class="message form-control" name="" id="" rows="1"></textarea>
        </div>
        <div class="text-center"> <i class="icon arrow"></i></div>
    </div>
</div>