<div class="container-fluid p-0 " id="temp">

    <div *ngIf='currentUser!==undefined && globalChat!==undefined' #scroll class="chat-area">
        <!-- <div *ngIf="true" class="notification">1 new message</div> -->
        <div *ngFor="let message of globalChat.messages" class="message-span">
            <app-message-card [currentUserID]='currentUser.uid' [message]="message"></app-message-card>
        </div>
    </div>

    <div class="text-bar">
        <div class="text-center"><span class="icon smile"></span></div>
        <div class="message-area">
            <textarea [(ngModel)]="newMessage" placeholder="Type your message here..." class="message form-control" name="" id="" rows="1"></textarea>
        </div>
        <div class="text-center"><i class="icon arrow" (click)="sendMessage()"></i></div>
    </div>
</div>