<div class="banner row m-0">
  <div class="aaheader">
    Y2-Chat
  </div>

  <div class="dropdown">
    <button class="fas fa-ellipsis-v dropdown-menu-button" (focus)="dropDownVisibility = true" (blur)="dropDownVisibility = false"></button>

    <div class="dropdown-content" *ngIf="dropDownVisibility === true">
      <span class="fas fa-user dropdown-pfpic"></span>
      <br>
      <div class="dropdown-text" (click)="viewProfile()">view profile</div>

      <hr>
      <div class="dropdown-text">
        <span class="fas fa-cog"></span> settings
        <br>
      </div>
      <div class="dropdown-text" (click)="logout()">
        <span class="fas fa-power-off"></span> logout
        <br>
      </div>
    </div>
  </div>
</div>