#temp {
    height: calc(100vh - 190px);
}

.chat-toggle{
    display: flex;
}

.chat-tab{
    text-align: center;
    font-size: 60px;
    display: block;
}

.chat-tab:hover{
    cursor: pointer;
}

.chat-selection-tab {
    background-color: #2374AB;
}

.chat-selection-tab-selected {
    background-color: #231651;
    color: white;
}

.chat-card-loader {
    background-color: #231651;
    color: white;
    overflow-y: scroll;
    height: 100%;
    padding: 0px;
}