.chat-selection-tab {
    text-align: center;
    font-size: 60px;
    display: block;
    background-color: #2374AB;
}

.chat-selection-tab-selected {
    text-align: center;
    font-size: 60px;
    display: block;
    background-color: #231651;
    color: white;
}

.chat-card-loader {
    background-color: #231651;
    color: white;
    height: 545px;
}